# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
._*
*.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Jekyll
_site
.sass-cache
.jekyll-metadata
